.sidebar {
  background-image: url("../../../../assets/images/bg-sidebar-desktop.svg");
  border-radius: 15px;
  @media (max-width: 768px) {
    background-image: url("../../../../assets/images/bg-sidebar-mobile.svg") !important;
  }
  background-size: cover;
  height: 100%;
  position: relative;

  img {
    width: 100%;
  }

  .content {
    // position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    .text-small {
      color: rgba(255, 255, 255, 0.551);
    }

    .circle {
      &.active {
        background-color: white;
        border: none;
        color: black !important;
      }

      @media (min-width: 768px) and (max-width: 1100px) {
        display: none !important;
      }

      border: 5px solid rgba(255, 255, 255, 0.551);
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
