<div class="sidebar px-md-0 px-1">
  <!-- <img src="" alt="" /> -->
  <div class="content py-4 px-lg-4 px-1 row">
    <a
      class="col-6 col-md-12 d-flex pointer mb-md-3 text-decoration-none mb-md-0 mb-2"
      [routerLink]="item.path"
      *ngFor="let item of links; let key = index"
      (click)="checkActiveTab(item.path)"
    >
      <div
        class="circle d-flex justify-content-center text-white"
        [ngClass]="{ active: active == key + 1 }"
      >
        <span class="align-self-center fs-5 fw-bold">{{ key + 1 }}</span>
      </div>
      <div class="align-self-center ms-2 fw-bold text-small"
      [ngClass]="{ 'text-white': active == key + 1 }"
      >
        <span class="fs-5">{{ item.label }} </span>
      </div>
    </a>
  </div>
</div>
