@import url("bootstrap/dist/css/bootstrap.min.css");

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat/Montserrat-VariableFont_wght.ttf');
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #E2EDF5;
}

.pointer {
  cursor: pointer;
}

textarea, input {
  box-shadow: none !important;
  outline: 1px solid rgba(67, 78, 77, 0.554);

  &:focus {
    outline: 1px solid green;
  }
}

.placeholder-none {
  min-height: 8rem;
}

.process {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    outline: 1px solid green;
    background-color: transparent !important;
    color: black !important;
  }
}

.result {
  border-radius: 10px;
  position: relative;

  @media (max-width: 768px) {
    padding: 2.5rem 0.5rem;
  }

  .copy {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
  }
}

.fs-6 {
  font-size: 12px !important;
}
// .home {

//   .min-100 {
//     min-height: 100vh;
//   }

//   .card-content {
//     border-radius: 15px;
//     min-height: 20rem;
//     position: relative;
//     overflow: hidden;

//     .content {
//       background-image: url("./assets/images/mur.jpg");
//       background-size: cover;
//       display: flex;
//       width: 5rem;
      
//     }
//   }

//   textarea {
//     box-shadow: none !important;
//     outline: 1px solid blue;

//     &:focus {
//       outline: 1px solid green;
//     }
//   }

//   .response {
//     border: none !important;
//     outline: none !important;
//   }
// }
